<%- include("partials/header") %>

<h1 class="mb-4">Cats!</h1>

<div class="row g-3">
  <div class="col-12 col-md-4">
    <img src="/image.png" class="img-fluid rounded shadow" alt="Cat 1">
  </div>
  <div class="col-12 col-md-4">
    <img src="/image2.png" class="img-fluid rounded shadow" alt="Cat 2">
  </div>
  <div class="col-12 col-md-4">
    <img src="/image3.png" class="img-fluid rounded shadow" alt="Cat 3">
  </div>
</div>

<%- include("partials/footer") %>
